@using festival.Client.Services
@using festival.Shared.Models
@using System.Net.Http.Json;
@inject HttpClient Http
@using System.Runtime.ConstrainedExecution;
@using System.Net.Http;
@using Npgsql;
@using Dapper;
@using System.Data;
@page "/vagtliste"

<PageTitle>Vagt liste</PageTitle>

<h1>Her kan du se ledige vagter</h1>

@{

    List<string> dage = new List<string>();

    foreach (var vagt in vagter)

    {

        Dag = vagt.Datodag;
        dage.Add(Dag);

    }

    HashSet<string> uniqueDage = new HashSet<string>();

    foreach (var dag in dage)
    {

        if (!uniqueDage.Contains(dag))
        {
            uniqueDage.Add(dag);
        }

    }



    //laver tabel
    <table class="table table-bordered border-dark">
        <thead>
            <tr>
                @foreach (string dag in uniqueDage)
                {
                    //Looper over alle dage i uniqueDage, og laver tableheader -> en for hver dag i ugen
                    <th> @dag  </th>
                }
            </tr>
        </thead>
        <tbody>

            @foreach (string dag in uniqueDage)
            {

            <td>
                @foreach (var vagt in vagter)
                {
                    //Looper over alle vagter, og tilføjer information om vagten under den tilsvarende dag -> kalendersystem
                    if (vagt.Datodag == dag)
                    {
                        foreach (var arbejde in arbejdspladser)
                        {
                            arbejdspladsNavn = arbejde.Arbejdspladsnavn;
                            if (arbejde.Arbejdspladsid == vagt.Arbejdspladsid)
                            {
                                <div class="card text-dark bg-light" style="margin-bottom: 10px; margin-left: 5px; margin-top: 5px;">
                            <tr>
                                Vagt ID: @vagt.Vagtid
                                <br />
                                Arbejdsplads: @arbejde.Arbejdspladsnavn
                                <br />
                                Tidsrum: @vagt.Tidstart - @vagt.Tidslut
                                <br />
                                Opgave: @arbejde.Arbejdsbeskrivelse
                                <br />
                                Antal point: @vagt.Antalpoint
                            </tr>
                            </div>

                        }
                    }
                }

            }
                </td>
            }
            </tbody>
        </table>





      
}

<EditForm EditContext="@EditContext"
          OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit">


    <div class="col-md-4 mb-3">
        <label for="TidStart">TidStart - 24h </label>
        <InputNumber id="TidStart" @bind-Value="TidStart" class="form-control" />
        <ValidationMessage For="@(() => TidStart)" />
    </div>

    <div class="col-md-4 mb-3">
        <label for="TidSlut">TidSlut - 24h </label>
        <InputNumber id="TidSlut" @bind-Value="TidSlut" class="form-control" />
        <ValidationMessage For="@(() => TidSlut)" />
    </div>

    <div class="col-md-4 mb-3">
        <label for="AntalPoint">AntalPoint</label>
        <InputNumber id="AntalPoint" @bind-Value="AntalPoint" class="form-control" />
        <ValidationMessage For="@(() => AntalPoint)" />
    </div>

    <div class="col-sm-2">
        <label for="Vagtid">Vagtid</label>
        <InputNumber id="Vagtid" @bind-Value="Vagtid" class="form-control"
                     ParsingErrorMessage=" The {0} field has an invalid value."
                     DisplayName="Vagtid" />
        <ValidationMessage For="@(() => Vagtid)" />
    </div>

    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="UpdateVagtHandler">Opdater frivillig</button>
    </div>

    <label for="DeleteFrivilligHandler">Indtast et ID, hvis du vil slette</label>
    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="DeleteVagtHandler">Delete vagt</button>
    </div>


</EditForm>





@code {
    // Tomme placeholders for Vagter
    public int Arbejdspladsid = 0;
    public int Vagtid = 0;
    public int TidStart = 0;
    public int TidSlut = 0;
    public int AntalPoint = 0;
    public DateTime? dato = DateTime.Now;
    public Vagt ValgtVagt = new Vagt();
    public string Dag = "";
    public string Datodag = "";
    public int Frivilligid = 0;
    public int Koordinatorid = 0;
    public bool Optagetledig = false;
    public string Arbejdspladsnavn = "";

    private int ErrorCode { get; set; } = 0;

    // Tomme placeholders for arbejdspladser
    public string? arbejdspladsNavn = "";


    //Henter vores shelter-data fra mongo(database)

    [Inject]
    public IVagtService VagtService { get; set; }
    [Inject]
    public IArbejdspladsService ArbejdspladsService { get; set; }
    [Inject]
    public IKoordinatorService KoordinatorService { get; set; }


    public List<Vagt> vagter = new List<Vagt>();
    public List<Arbejdsplads> arbejdspladser = new List<Arbejdsplads>();

    protected override async Task OnInitializedAsync()
    {
        vagter = (await VagtService.GetAllVagt()).ToList();
        vagter = vagter.OrderBy(x => x.Vagtid).ToList();
        ValgtVagt = vagter[0];

        arbejdspladser = (await ArbejdspladsService.GetAllArbejdsplads()).ToList();

    }


    //Opdaterer vagt info for eksisterende vagter
    private async Task UpdateVagtHandler()
    {
        Console.WriteLine("In update");
        Vagt item = new Vagt(vagtid: Vagtid, arbejdspladsid: Arbejdspladsid, frivilligid: Frivilligid, koordinatorid: Koordinatorid, tidstart: TidStart, tidslut: TidSlut, optagetledig: Optagetledig, antalpoint: AntalPoint, arbejdspladsnavn: Arbejdspladsnavn, datodag: Datodag);
        ErrorCode = await VagtService.UpdateVagt(item);
        Console.WriteLine(ErrorCode);

        vagter = (await VagtService.GetAllVagt()).ToList(); //Efter vi har slettet, opdaterer den tabelen med det samme.

    }


    //Sletter valgte vagt
    private async Task DeleteVagtHandler()
    {
        Console.WriteLine("Deleting");
        Vagt item = new Vagt(vagtid: Vagtid, arbejdspladsid: Arbejdspladsid, frivilligid: Frivilligid, koordinatorid: Koordinatorid, tidstart: TidStart, tidslut: TidSlut, optagetledig: Optagetledig, antalpoint: AntalPoint, arbejdspladsnavn: Arbejdspladsnavn, datodag: Datodag);
        ErrorCode = await VagtService.DeleteVagt(item);
        Console.WriteLine(ErrorCode);

        vagter = (await VagtService.GetAllVagt()).ToList(); //Efter vi har slettet, opdaterer den tabelen med det samme.
    }

}
